In [29]:
import torchhd
import pandas as pd
from ucimlrepo import fetch_ucirepo
import torch
from torch.utils.data import DataLoader, TensorDataset
from typing import Iterable

In [30]:
# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

In [31]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [32]:
y

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
48837  <=50K.
48838  <=50K.
48839  <=50K.
48840  <=50K.
48841   >50K.

[48842 rows x 1 columns]

### Metadata

In [33]:
# metadata
print(adult.metadata)
feature_names = X.columns
print(feature_names)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

### Get numerical and categorical columns

In [51]:
numerical = list(X.select_dtypes(include='number').columns)
categorial = list(set(X.columns[1:])-set(numerical))
numerical, categorial

(['age',
  'fnlwgt',
  'education-num',
  'capital-gain',
  'capital-loss',
  'hours-per-week'],
 ['native-country',
  'marital-status',
  'race',
  'occupation',
  'relationship',
  'workclass',
  'education',
  'sex'])

### Convert categorical columns to categorical

In [35]:
for column in categorial:
    print(column)
    X[column]= X[column].astype('category')

native-country
marital-status
race
occupation
relationship
workclass
education
sex

/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2749402504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column]= X[column].astype('category')

In [36]:
X.select_dtypes(include='category').describe()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
count,47879,48842,48842,47876,48842,48842,48842,48568
unique,9,16,7,15,6,5,2,42
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
freq,33906,15784,22379,6172,19716,41762,32650,43832

In [37]:
X.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [38]:
y['income']=y['income'].apply(lambda s : s.replace('.', ''))
y['income']=y['income'].astype('category')
y['income']=y['income'].cat.codes

/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2481787065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['income']=y['income'].apply(lambda s : s.replace('.', ''))
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2481787065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['income']=y['income'].astype('category')
/var/folders/t6/vz8d554s7x93_ptfs7fglwr80000gs/T/ipykernel_60017/2481787065.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['income']=y['income'].cat.codes

In [39]:
y

       income
0           0
1           0
2           0
3           0
4           0
...       ...
48837       0
48838       0
48839       0
48840       0
48841       1

[48842 rows x 1 columns]

## Data splits

In [40]:
seed=42
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=seed)

## Standardize numerical features

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train[numerical]=scaler.fit_transform(X_train[numerical])

37193    32
31093    45
33814    35
14500    64
23399    63
         ..
11284    35
44732    21
38158    23
860      18
15795    50
Name: age, Length: 39073, dtype: int64

In [ ]:
X_test[numerical] = scaler.transform(X_test[numerical])
X_test.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
7762,18,Private,2.202051,HS-grad,-0.420108,Never-married,Other-service,Not-in-family,White,Male,-0.145524,-0.216668,-1.646086,United-States
23881,17,Private,-0.104463,12th,-0.809935,Never-married,Sales,Own-child,White,Female,-0.145524,-0.216668,-1.646086,United-States
30507,25,Local-gov,1.502379,HS-grad,-0.420108,Never-married,Handlers-cleaners,Other-relative,Black,Male,-0.145524,-0.216668,-0.032339,United-States
28911,20,Private,0.266570,Some-college,-0.030280,Never-married,Sales,Own-child,White,Female,-0.145524,-0.216668,-0.839212,United-States
19484,47,Private,0.510479,HS-grad,-0.420108,Never-married,Machine-op-inspct,Unmarried,Amer-Indian-Eskimo,Male,-0.145524,-0.216668,1.258660,Puerto-Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43046,56,Self-emp-not-inc,-0.674677,Masters,1.529031,Separated,Sales,Unmarried,White,Female,-0.145524,-0.216668,-0.355088,United-States
18798,21,Private,0.149605,HS-grad,-0.420108,Never-married,Other-service,Own-child,White,Male,-0.145524,-0.216668,-0.274401,United-States
29519,38,Private,0.040607,Some-college,-0.030280,Divorced,Transport-moving,Not-in-family,Black,Male,-0.145524,-0.216668,1.177972,United-States
550,46,Self-emp-not-inc,0.526535,Some-college,-0.030280,Divorced,Exec-managerial,Not-in-family,White,Male,-0.145524,-0.216668,0.774535,United-States
14337,43,Private,-0.068514,HS-grad,-0.420108,Married-civ-spouse,Craft-repair,Husband,White,Male,-0.145524,-0.216668,-0.032339,United-States

## Ensure Reproducibility

In [15]:
torch.manual_seed(seed);

## Make Dataloader

In [72]:
def create_dataloader(x, y, batch_size : int = 32) -> tuple[DataLoader, list]:
    num_unique_code = []
    for col in categorial:
        x[col] = pd.Categorical(x[col]).codes
        num_unique_code.append(x[col].nunique())  

    x_tens = torch.tensor(x[categorial + numerical].values, dtype=torch.float32)
    y_tens = torch.tensor(y.values, dtype=torch.long).squeeze()
    
    dataset = TensorDataset(x_tens, y_tens)
    return DataLoader(dataset, batch_size=batch_size, shuffle=True), num_unique_code

In [69]:
tes, tes_list = create_dataloader(X_train, y_train)

## Set Up And Train Model

In [ ]:
#Get the best performance
torch.set_num_threads(10)
if torch.cuda.is_available():
    torch.set_default_device('cuda')

### AdaptHD

In [ ]:
data_loader, _ = create_dataloader(X_train, y_train)
model = torchhd.classifiers.AdaptHD(n_features=X.shape[1], n_dimensions=10000, n_classes=2)
model.fit(data_loader)

fit: 100%|██████████| 120/120 [26:18<00:00, 13.15s/it]

AdaptHD(
  (keys): Random(14, 10000)
  (levels): Level(100, 10000)
  (model): Centroid(in_features=10000, out_features=3)
)

In [ ]:
data_loader, _ = create_dataloader(X_test, y_test)
model.accuracy(data_loader)

0.8420513870406388

### OnlineHD

In [ ]:
data_loader, _ = create_dataloader(X_train, y_train)
model = torchhd.classifiers.OnlineHD(n_features=X.shape[1], n_dimensions=10000, n_classes=2)
model.fit(data_loader)

In [ ]:
data_loader, _ = create_dataloader(X_test, y_test)
model.accuracy(data_loader)

## Create New Model

In [ ]:
class FHRRMixedEncoder(torch.nn.Module):
    """Will do an FHRR encoding that takes treats both the numerical and categorical data correctly"""
    def __init__(self, n_numerical_features : int, 
                 n_dimensions : int, 
                 n_categorical_bin_list : list[int], 
                 device : torch.device = None, 
                 distribution : str = 'sinc'):
        super().__init__()
        self._numerical_encoding = torchhd.embeddings.FractionalPower(n_numerical_features, n_dimensions, distribution, device=device)
        self._list_categorical_encoding = [torchhd.embeddings.Random(i, n_dimensions, 'FHRR') for i in n_categorical_bin_list]
        self._hyperdim = n_dimensions
        self._num_cat_features = len(self._list_categorical_encoding)
    
    def forward(self, samples : torch.Tensor) -> torch.Tensor:
        """Will encode the given data into a hypervector. The categorical features is expected to take up the first n features

        Args:
            samples (torch.Tensor): A (batch, num_features) matrix of samples to encode

        Returns:
            torch.Tensor: A (batch, hyperdim) matrix of encoded samples
        """
        reshape_at_end = False
        if len(samples.shape) == 1:
            samples = samples.view(1, -1)
            reshape_at_end = True
        elif len(samples.shape) > 2:
            raise ValueError(f'Input has shape of: {samples.shape} which is not supported')
        
        b, _ = samples.shape
        
        hvec = torch.ones((b, self._hyperdim), dtype=torch.cfloat)
        
        #Iterate over the columns of samples or in other words each feature
        for cat_feature, cat_encoder in zip(samples.T[:self._num_cat_features], self._list_categorical_encoding): 
            hvec *= cat_encoder(cat_feature.long())
            
        hvec *= self._numerical_encoding(samples[:, self._num_cat_features:])

        if reshape_at_end:
            hvec = hvec.squeeze()

        return hvec
class FHRRAdaptModel(torchhd.classifiers.AdaptHD):
    def __init__(self, n_numerical_features : int,
                 n_categorical_bin_list : list[int], 
                 n_dimensions : int, 
                 n_classes : int, *, 
                 n_levels : int= 100, 
                 min_level : int= -1, 
                 max_level : int= 1, 
                 epochs : int= 120, 
                 lr : float= 0.035,
                 device : torch.device= None, 
                 dtype : torch.dtype= None):
        super().__init__(n_numerical_features, n_dimensions, n_classes, n_levels=n_levels, min_level=min_level, max_level=max_level, epochs=epochs, lr=lr, device=device, dtype=dtype)
        
        self.encoder = FHRRMixedEncoder(n_numerical_features, n_dimensions, n_categorical_bin_list, device)     
        
class FHRROnlineModel(torchhd.classifiers.OnlineHD):
    def __init__(self, n_numerical_features : int, 
                 n_categorical_bin_list : list[int],
                 n_dimensions : int, 
                 n_classes : int, *, 
                 epochs : int = 120, 
                 lr :float = 0.035, 
                 device : torch.device = None,
                 dtype : torch.dtype= None):
        
        super().__init__(n_numerical_features, n_dimensions, n_classes, epochs=epochs, lr=lr, device=device, dtype=dtype)
        
        self.encoder = FHRRMixedEncoder(n_numerical_features, n_dimensions, n_categorical_bin_list, device)
        self.model.to(dtype=torch.cfloat)

## Train New Model

### AdaptHD with FHRR

In [ ]:
data_loader, cat_bin_count = create_dataloader(X_train, y_train)
n_numerical_features = X.shape[1] - len(cat_bin_count)
model = FHRRAdaptModel(n_numerical_features=n_numerical_features,
                        n_categorical_bin_list=cat_bin_count,
                        n_dimensions=10000,
                        n_classes=2)
model.fit(data_loader)

In [ ]:
data_loader, _ = create_dataloader(X_test, y_test)
model.accuracy(data_loader)

### OnlineHD with FHRR

In [ ]:
data_loader, cat_bin_count = create_dataloader(X_train, y_train)
n_numerical_features = X.shape[1] - len(cat_bin_count)
model = FHRROnlineModel(n_numerical_features=n_numerical_features,
                        n_categorical_bin_list=cat_bin_count,
                        n_dimensions=10000,
                        n_classes=2)
model.fit(data_loader)

/Users/ianbryant/class_work/CS178/.venv/lib/python3.10/site-packages/torch/nn/modules/module.py:1140: UserWarning: Complex modules are a new feature under active development whose design may change, and some modules might not work as expected when using complex tensors as parameters or buffers. Please file an issue at https://github.com/pytorch/pytorch/issues/new?template=bug-report.yml if a complex module does not work as expected.
  warnings.warn(
fit:   0%|          | 0/120 [00:00<?, ?it/s]/Users/ianbryant/class_work/CS178/.venv/lib/python3.10/site-packages/torchhd/tensors/fhrr.py:424: UserWarning: The norm of a vector is nearly zero, this could indicate a bug.
  warnings.warn(
fit:  48%|████▊     | 57/120 [12:16<15:17, 14.56s/it]

In [ ]:
data_loader, _ = create_dataloader(X_test, y_test)
model.accuracy(data_loader)